/*html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  canvas {
    display: block;
    width: 100vw; /* Volle Breite des Viewports */
  /*  height: 100vh; /* Volle Höhe des Viewports */
  
  
  